* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;

    font-family: 'Epilogue', sans-serif;
}

.ignore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* Navigation Styling */
.navbar {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 75px;
    height: 25px;
}

.nav-hamburger {
    background: url('../images/icon-menu.svg');
    background-repeat: no-repeat;
    width:  35px;
    height: 35px;
}

.nav-close {
    position: absolute;
    top: 0;
    right: 0;

    margin: 2rem 1rem;

    background: url('../images/icon-close-menu.svg');
    background-repeat: no-repeat;
    width:  35px;
    height: 35px;

    cursor: pointer;
}

.nav-hamburger:hover {
    cursor: pointer;
}

.nav-container {
    display: flex;
}

.nav-items {
    display: flex;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    width: 100%;

    cursor: pointer;
}

.nav-item p {
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
}

.nav-item .icon {
    width: 18px;
    height: 18px;
}

.dropdown-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-top: 2rem;
    padding-left: 1.75rem;
}

.nav-item img {
    width: 10px;
    height: 8px;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    font-family: 'Epilogue', sans-serif;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: white;

    font-size: 15px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);

    cursor: pointer;
}

.btn:hover {
    color: hsl(0, 0%, 8%);
}

.outline {
    border: 1px solid hsl(0, 0%, 41%);
}

.outline:hover {
    border: 1px solid hsl(0, 0%, 8%);
    box-shadow: 0 1px 1px hsl(0, 0%, 8%);
}

.dark {
    background-color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    color :white;
}

.dark:hover {
    background-color: white;
    color: hsl(0, 0%, 8%);
}

.main {
    width: 80%;
    height: 100%;
    display: flex;

    position: relative;
}

.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-content h1 {
    font-size: 70px;
    font-weight: 700;
}

.main-content p {
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    line-height: 1.5;
}

.main-content button {
    width: 40%;
}

.clients {
    width: 100%;
    position: absolute;
    bottom: -50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Footer Styling */
.attribution { 
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 0.5rem;

    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1440px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1000px) {
    .navbar {
        margin: 2rem;
    }

    .nav-container {
        width: 100%;
        justify-content: space-between;
        align-items: center;

        padding-left: 50px;
    }

    .ignore,
    .nav-items div .close {
        display: none;
    }

    .nav-items {
        align-items: center;
        gap: 2rem;
    }

    .nav-hamburger,
    .nav-close {
        display: none;
    }

    .dropdown-side {
        position: absolute;
        background: white;
        box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 10%);
        border-radius: 10px;

        padding: 1.5rem;
        margin-top: 2rem;
        z-index: 99;
    }

    #features-dropdown {
        transform: translateX(-40%);
    }

    .main {
        margin: 0 auto;
        align-items: center;
    }

    .main-content {
        margin-right: 100px;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        width: 50%;
    }

    .clients {
       gap: 2rem;
    }

    .clients img {
        width: 100px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        width: 100%;
    }
    .navbar {
        margin: 1rem 1rem 2rem 1rem;
        justify-content: space-between;
    }

    .nav-container {
        width: 70%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        background-color: white;

        flex-direction: column;
        gap: 3rem;
    }

    .close {
        display: none;
    }    

    .nav-items {
        flex-direction: column;
        gap: 2rem;
        margin-top: 50%;
        margin-left: 2rem;
    }

    .nav-buttons {
        flex-direction: column;
        margin: 0 2rem;
    }

    .nav-hamburger {
        display: block;
    }

    .nav-close {
        display: block;
    }

    .main {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        gap: 4rem;
    }

    .mobile-img {
        width: 100%;
    }

    .main-content {
        text-align: center;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }
    
    .main-content p {
        padding: 0 0.5rem;
    }

    .main-content button {
        margin: 0 auto;
    }

    .desktop-img {
        display: none;
    }

    .clients {
        width: 90%;
        transform: translateX(5%);
    }

    .clients img {
        width: 75px;
    }
}